/* You can edit the theme using the tool on https://starlight.astro.build/guides/css-and-tailwind/#theming */

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #fcd6cd;
	--sl-color-accent: #e9996c;
	--sl-color-accent-high: #f8713c;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c0c2c7;
	--sl-color-gray-3: #888b96;
	--sl-color-gray-4: #545861;
	--sl-color-gray-5: #353841;
	--sl-color-gray-6: #24272f;
	--sl-color-black: #17181c;
	--sl-content-width: 58rem;
	--sl-text-5xl: 3.5rem;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #fcd6cd;
	--sl-color-accent: #f8713c;
	--sl-color-accent-high: #e9996c;
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #353841;
	--sl-color-gray-3: #545861;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #eceef2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
}
